@mixin reset-list {
  margin: 0;
  padding: 0;
}
@mixin main__font {
  font-family: 'Inter', sans-serif;  
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
@mixin no_outline {
  outline: none !important;
}
@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}