.hero-video {
	position: relative;
	padding: 0;

	&__info {
		color: $dark;
		text-align: center;
		@include media-breakpoint-up( $bp ) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			padding: rem( 4 ) 0 0;
		}
	}

	&__title {
		margin-bottom: 12px;

		h1 {
			font-size: rem( 2 );
			font-weight: 500;
			line-height: 1.2;
			text-align: center;
			@include media-breakpoint-up( $bp ) {
				margin-bottom: rem( 1 );
				font-size: rem( 2 );
			}
			@include media-breakpoint-down( sm ) {
				font-size: rem( 2 );
			}

			span {
				font-size: rem( 2.5 );
				color: $accent;

				@include media-breakpoint-down( sm ) {
					font-size: rem( 2.5 );
				}
			}
		}
	}

	&__text {
		font-size: rem( 2 );
		font-weight: 600;
		line-height: 1.6;
		margin-bottom: rem( 1.2 ) !important;;
		@include media-breakpoint-up( $bp ) {
			font-size: rem( 2.5 );
			padding: 0 15%;
		}
		@include media-breakpoint-down( sm ) {
			font-size: rem( 1.5 );
		}
	}
	.toggler__switch {
		margin: rem( 2 ) 0 0;
		padding: 0;
	}
	.toggler__screens {
		margin: 0;
		padding: 0;
	}
	.toggler__screen.active {
		display: block;
	}

	&__video {

		&__wrapper {
			max-width: rem( 120 );
			margin: rem( -1 ) auto 0;

			@include media-breakpoint-up( xl ) {
				max-width: 100%;
			}
		}
		video {
			max-width: 100%;
			width: 100%;
			margin: 0 auto;

			@include media-breakpoint-up( xl ) {
				display: block;
				width: auto;
				height: calc( 100vh - #{rem( 10.2 )} );
			}
		}
	}
}
