.hero-video {
	position: relative;

	&__info {
		color: $page_color;
		text-align: center;
		@include media-breakpoint-up( $bp ) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			padding: rem( 7 ) 0 0;
		}
	}

	&__title {
		margin-bottom: 12px;

		h1 {
			font-size: rem( 4 );
			font-weight: 500;
			line-height: 1.2;
			text-align: center;
			@include media-breakpoint-up( $bp ) {
				font-size: rem( 5.6 );
			}

			span {
				color: $color_active;
			}
		}
	}

	&__text {
		font-size: rem( 1.8 );
		line-height: 1.6;
		margin-bottom: rem( 1.2 );
		@include media-breakpoint-up( $bp ) {
			font-size: rem( 2 );
		}
	}
	.toggler__switch {
		margin: rem( 2 ) 0 0;
		padding: 0;
	}
	.toggler__screens {
		margin: 0;
		padding: 0;
	}
	.toggler__screen.active {
		display: block;
	}

	&__video {
		video {
			width: 100%;
		}
	}
}
