.jobs_reasosns {
    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin: 24px auto 0;
    }
    &_item_block {
      @include media-breakpoint-up( sm ) {
        padding: 0 15px 0 0;
      }
    }
    &_item_block:nth-child(2n) {
        @include media-breakpoint-up( sm ) {
            padding: 0 0 0 15px;
        }
      }
    &_item {
        min-height: 235px;
        margin: 0 0 48px 0;
        padding: 30px;
        background: $jobs_wrapper;
        border-radius: 12px;

        @include media-breakpoint-down( md ) {
            min-height: 200px;
        }
        @include media-breakpoint-down( sm ) {
            min-height: auto;
            padding: 20px;
        }
        @include media-breakpoint-down( xs ) {
            min-height: auto;
            padding: 15px;
        }

        &_head {
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            @include media-breakpoint-up( sm ) {
                margin-bottom: 16px;
            }

            &_img {
                width: 64px;
                height: 64px;
                margin-right: 10px;

                @include media-breakpoint-down( sm ) {
                    width: 32px;
                    height: 32px;
                }
            }
            &_title {
              font-size: rem( 2 );
              font-weight: 600;
              color: $black;

                @include media-breakpoint-down( md ) {
                    font-size: rem( 1.5 );
                }
                @include media-breakpoint-down( sm ) {
                    font-size: rem( 1.2 );
                }
            }
        }
        &_text {
            font-size: rem(1.5);
            font-weight: 500;
            color: $switch_dis;

            @include media-breakpoint-down( md ) {
                font-size: rem( 1 );
            }
        }
    }
}