footer {
  background-color: $bg_color;
  color: $white_color;
  font-weight: 500;

  .footer_logo {
    background: no-repeat url(../img/logo__footer.svg) center/ 100%;
    width: 283px;
    height: 140px;
  }
  .footer_logo:hover,
  .footer_logo:focus {
    background: no-repeat url(../img/logo__footer__active.svg) center/ 100%;
  }
  h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .nav-link {
    margin-bottom: 12px;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: $color_active !important;
  }
  .footer__docs {
    text-decoration: none;
  }
  .footer__docs:hover {
    color: $color_active !important;
  }
  .dropdown-menu {
    background: $bg_color;
    border-radius: 0px 0px 12px 12px;
    margin-top: -30xp;
    border: none;
    margin-left: -0.5rem !important;

    .dropdown-item {
      color: $white_color;
      padding: 5px 1rem;
    }
    .dropdown-item:hover {
      background-color: transparent;
      color: $color_active;
    }

    .dropdown-item-disable {
      opacity: 0.5;
    }
    .dropdown-item-disable:hover {
      background-color: transparent;
      color: $white_color;
    }
    .dropdown-item-disable::after {
      display: block;
      content: "";
      position: relative;
      width: 12px;
      height: 16px;
      background: no-repeat url(../img/lock.svg) center/ 100%;
      margin: -12% 0 0 auto;
    }
  }
  .dropdown__lang {
    .dropdown-toggle:active,
    .dropdown-toggle:hover,
    .dropdown-toggle:focus {
      color: $color_active;
      border: none;
    }
    .dropdown-item:hover {
      background-color: $bg_active_header;
      color: $white_color;
      border-bottom: 1px solid $color_active;
    }
    .dropdown-item {
      border-bottom: 1px solid $color_active;
    }
    li:last-child .dropdown-item {
      border-bottom: 0px solid $color_active;
    }
  }

}