.offer {
    color: $grey_text_color;
    text-align: center;

    .page__bigtext {
        color: $grey_text_color;
    }

    .page__content {
        width: 100%;
        display: none !important;
        
        .page__img {
            width: 50%;
            img {
                max-width: 100%;
            }
        }
        .page__info {
            padding-left: 65px;
            text-align: left;

            .content__text {
                list-style-image: url(../img/circle_grey.svg);
                margin-bottom: 15px;
            }
        }
    }
    .page__content__active {
        display: flex !important;
    }
    .content__text {
        color: $grey_text_color;
    }
}
.offer_first {
    .page__content__before {
        padding-top: 63px;
    }
}

.offer__purple {
    background-image: url(../img/offer__purple__bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $page_color;
    padding-top: 0;
    
    .page__switch {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 70px;
    }
    .page__content {
        height: 100%;
    }
    .page__content__before {
        padding-top: 0px;
    }
    .content__title {
        color: $white_color;
    }
    .content__text {
        color: $purple_color;
        list-style-image: url(../img/circle_purple.svg);
    }
    .page__content__after {
        .page__info {
            padding-top: 70px;
        }
        img {
            width: 175%;
        }
    }
}

.offer__two {
    padding-bottom: 70px;
    .page__content__after  {
        background: no-repeat url(../img/offertwo__bg.png);
        background-position: bottom center;
        background-size: 100%;
    }
    .page__content__before {
        padding: 0;
    }
}

.offer-two__purple {
    background-image: url(../img/offer__purple__bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $page_color;

    .content__title {
        color: $white_color;
    }
    .content__text {
        color: $purple_color;
        list-style-image: url(../img/circle_purple.svg);
    }
    .page__content__before {
        padding-top: 0px;
    }
}


@media (max-width: 1024px) {
    .offer_first {
        .page__content__before {
            padding-top: 47px;
        }
    }
    
}