@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
*, p, a, ul, li {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

*:focus {
  outline: none !important;
}

a, button, input, textarea {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

section {
  padding-top: 70px;
}

.page__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 20px;
}

.page__text {
  font-weight: 300;
  font-size: 26px;
  line-height: 145%;
}

.page__doptext, .content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
}

.btn {
  background: #AB47BC;
  border-radius: 12px;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 18px;
  color: #fff;
  margin-top: 40px;
}

.page__bigtitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 5px;
  color: #101828;
}

.page__bigtext {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 50px;
}

.content__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
  color: #2E0033;
}

.content__podtitle {
  font-size: 24px;
  line-height: 150%;
}

.page__switch p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

.page__switch .label_active {
  color: #AB47BC;
}

.page__switch .form-switch {
  margin: 0 15px;
}

.page__switch .form-switch .form-check-input {
  width: 80px;
  height: 42px;
  background-color: #667085;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.page__switch .form-switch .form-check-input:checked {
  background-color: #AB47BC;
}

.desk {
  display: block;
}

.tablet {
  display: none;
}

.mob {
  display: none;
}

@media (max-width: 1024px) {
  .desk {
    display: none !important;
  }
  .tablet {
    display: block;
  }
  .mob {
    display: none;
  }
}

@media (max-width: 576px) {
  .desk {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mob {
    display: block;
  }
}

header {
  background-color: #3D0043;
  color: #fff;
  font-weight: 500;
}

header .header_logo {
  background: no-repeat url(../img/logo.svg) center/100%;
  width: 307px;
  height: 70px;
}

header .header_logo:hover,
header .header_logo:focus {
  background: no-repeat url(../img/logo_active.svg) center/100%;
}

header .main-menu {
  list-style: none;
  padding: 0;
}

header .main-menu li ul {
  padding: 0;
  list-style: none;
}

header .main-menu li a {
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.menu-item-has-children a:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #AB47BC;
  display: block;
  margin-top: 3px;
  transition: .2s all linear;
  transform: scaleX(0);
  transform-origin: left;
}

.menu-item-has-children a:hover::after {
  transform: scaleX(1);
}
.submenu li a:after {
  content: '';
  display: none;
}

header .main-menu .menu_li:active .menu__item,
header .main-menu .menu_li:hover .menu__item,
header .main-menu .menu_li:focus .menu__item {
  color: #AB47BC;
}

header .main-menu .menu_li:active .submenu,
header .main-menu .menu_li:hover .submenu,
header .main-menu .menu_li:focus .submenu {
  display: block;
}

header .main-menu .menu_li::after {
  display: block;
  content: '';
  background: no-repeat url(../img/arrow__down.svg) center/100%;
  width: 12px;
  height: 8px;
  border: none;
  margin-left: 10px;
}

header .main-menu .menu_li:active::after,
header .main-menu .menu_li:hover::after,
header .main-menu .menu_li:focus::after {
  background: no-repeat url(../img/arrow__down__active.svg) center/100%;
}

header .submenu {
  display: none;
  background: #3D0043;
  border-radius: 0px 0px 12px 12px;
  padding: 20px !important;
  position: absolute;
  top: 70px;
  margin-left: -20px;
  -webkit-transition: 5s;
  transition: 5s;
  list-style: none;
  text-align: left;
}

header .submenu li ul {
  padding: 0;
  list-style: none;
}

header .submenu li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

header .submenu li {
  padding: 15px 0;
  color: #fff;
}

header .submenu li:hover .submenu__item {
  color: #AB47BC;
}

header .submenu .submenu_dis {
  opacity: 0.5;
  color: #fff !important;
}

header .submenu .submenu_dis:hover {
  background-color: transparent;
}

header .submenu .submenu_dis::after {
  display: block;
  content: "";
  position: relative;
  width: 12px;
  height: 16px;
  background: no-repeat url(../img/lock.svg) center/100%;
  margin: -12% 0 0 auto;
}

header .header__user .dropdown-item:hover {
  background-color: transparent;
  color: #AB47BC;
  border-bottom: 1px solid #AB47BC;
}

header .header__user:active .submenu,
header .header__user:hover .submenu,
header .header__user:focus .submenu {
  display: block;
  top: 90px;
}

header .account {
  background: no-repeat url(../account__bg/lock.png) center/100%;
  width: 78px;
  height: 78px;
}

header .dropdown-menu-persona {
  margin-left: -2.5rem !important;
}


header .dropdown__lang .dropdown__lang__item::after {
  display: block;
  content: '';
  background: no-repeat url(../img/arrow__down.svg) center/100%;
  width: 12px;
  height: 8px;
  border: none;
  margin-left: 10px;
}

header .dropdown__lang:active .dropdown__lang__item,
header .dropdown__lang:hover .dropdown__lang__item,
header .dropdown__lang:focus .dropdown__lang__item {
  color: #AB47BC;
}

header .dropdown__lang:active .dropdown__lang__item::after,
header .dropdown__lang:active .dropdown__lang__item::after,
header .dropdown__lang:active .dropdown__lang__item::after,
header .dropdown__lang:hover .dropdown__lang__item::after,
header .dropdown__lang:hover .dropdown__lang__item::after,
header .dropdown__lang:hover .dropdown__lang__item::after,
header .dropdown__lang:focus .dropdown__lang__item::after,
header .dropdown__lang:focus .dropdown__lang__item::after,
header .dropdown__lang:focus .dropdown__lang__item::after {
  background: no-repeat url(../img/arrow__down__active.svg) center/100%;
}

header .dropdown__lang:active .submenu,
header .dropdown__lang:hover .submenu,
header .dropdown__lang:focus .submenu {
  display: block;
}

@media (max-width: 1024px) {
  header .dropdown__entrance {
    margin-left: auto;
  }
  header .dropdown_burger .burger {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: block;
    z-index: 10;
  }
  header .dropdown_burger .burger span, header .dropdown_burger .burger span:before, header .dropdown_burger .burger span:after {
    width: 100%;
    position: absolute;
    height: 4px;
    background: #fff;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 5px;
  }
  header .dropdown_burger .burger span:before {
    content: "";
    top: -10px;
    -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .dropdown_burger .burger span {
    top: 15px;
  }
  header .dropdown_burger .burger span:after {
    content: "";
    bottom: -10px;
    -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .dropdown_burger .burger span.active:before {
    content: "";
    top: 0px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  header .dropdown_burger .burger span.active:after {
    content: "";
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  header .dropdown_burger .burger span.active {
    background: rgba(255, 255, 255, 0);
  }
  header .menu__mob {
    width: 100%;
    height: 100vh;
    height: auto;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    background: rgba(61, 0, 67, 0.8);
    -webkit-backdrop-filter: blur(34px);
            backdrop-filter: blur(34px);
  }
  header .menu__mob .menu__header {
    margin-bottom: 30px;
  }
  header .menu__mob .menu__body ul {
    padding-left: 0;
  }
  header .menu__mob .menu__body ul li {
    list-style: none;
  }
  header .menu__mob .menu__body ul li .dropdown-menu.show {
    background: transparent;
    position: relative;
  }
  header .menu__mob .menu__mob a {
    margin: 0 0 30px;
    font-size: 50px;
    line-height: 60px;
  }
  header .menu__mob .menu__mob a:active,
  header .menu__mob .menu__mob a:focus {
    color: #29C9F8;
  }
  header .menu__mob .header__nav__services {
    margin-bottom: 11px;
  }
  header .menu__mob ul {
    margin-left: 25px;
  }
  header .menu__mob.animate {
    right: 0;
    top: 0;
  }
}

footer {
  background-color: #3D0043;
  color: #fff;
  font-weight: 500;
}

footer .footer_logo {
  background: no-repeat url(../img/logo__footer.svg) center/100%;
  width: 283px;
  height: 140px;
}

footer .footer_logo:hover,
footer .footer_logo:focus {
  background: no-repeat url(../img/logo__footer__active.svg) center/100%;
}

footer h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

footer .nav-link {
  margin-bottom: 12px;
}

footer .nav-link:hover,
footer .nav-link:focus {
  color: #AB47BC !important;
}

footer .footer__docs {
  text-decoration: none;
}

footer .footer__docs:hover {
  color: #AB47BC !important;
}

footer .dropdown-menu {
  background: #3D0043;
  border-radius: 0px 0px 12px 12px;
  margin-top: -30xp;
  border: none;
  margin-left: -0.5rem !important;
}

footer .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 5px 1rem;
}

footer .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #AB47BC;
}

footer .dropdown-menu .dropdown-item-disable {
  opacity: 0.5;
}

footer .dropdown-menu .dropdown-item-disable:hover {
  background-color: transparent;
  color: #fff;
}

footer .dropdown-menu .dropdown-item-disable::after {
  display: block;
  content: "";
  position: relative;
  width: 12px;
  height: 16px;
  background: no-repeat url(../img/lock.svg) center/100%;
  margin: -12% 0 0 auto;
}

footer .dropdown__lang .dropdown-toggle:active,
footer .dropdown__lang .dropdown-toggle:hover,
footer .dropdown__lang .dropdown-toggle:focus {
  color: #AB47BC;
  border: none;
}

footer .dropdown__lang .dropdown-item:hover {
  background-color: #530E5C;
  color: #fff;
  border-bottom: 1px solid #AB47BC;
}

footer .dropdown__lang .dropdown-item {
  border-bottom: 1px solid #AB47BC;
}

footer .dropdown__lang li:last-child .dropdown-item {
  border-bottom: 0px solid #AB47BC;
}

.main .main__info {
  color: #2E0033;
  text-align: center;
}

.main .main__info .main__title {
  margin-bottom: 12px;
}

.main .main__info .main__title h1, .main .main__info .main__title span {
  font-weight: 500;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
}

.main .main__info .main__title h1 span, .main .main__info .main__title span span {
  color: #AB47BC;
}

.main .main__info .main__text {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 12px;
}

.main .main__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  margin-top: 70px;
}

.main .main__video img {
  width: 100%;
}

.services {
  background-color: #2E0033;
  color: #fff;
  text-align: center;
  padding: 0;
}

.services .services__top {
  padding: 100px 0;
  background: no-repeat url(../img/services__bg.png);
  background-color: #2E0033;
  background-size: cover;
  background-position: top center;
}

.services .services__main {
  padding: 100px 0 0;
  margin-bottom: 30px;
}

.services .services__main .services__info {
  margin-bottom: 60px;
}

.services .services__main .accordion {
  margin-bottom: 25px;
}

.services .services__main .accordion .accordion-item {
  background: #230026;
  margin-right: 16px;
  border-radius: 12px;
  padding: 46px 48px;
  cursor: pointer;
}

.services .services__main .accordion .accordion-item .accordion-header .accordion-button {
  background: #230026;
  color: #fff;
  padding: 0;
}

.services .services__main .accordion .accordion-item .accordion-header .accordion-button img {
  margin-right: auto;
}

.services .services__main .accordion .accordion-item .accordion-header .accordion-button .accordion__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  margin: 24px 0 16px;
  width: 100%;
}

.services .services__main .accordion .accordion-item .accordion-header .accordion-button .accordion__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  display: none;
  width: 100%;
}

.services .services__main .accordion .accordion-item .accordion-header .accordion-button::after {
  display: none;
}

.services .services__main .accordion .accordion-item .accordion-header span {
  color: red;
}

.services .services__main .accordion .collapsed .accordion__text {
  display: block !important;
}

.services .services__main .accordion .accordion-item:last-child {
  margin-right: 0;
}

.services .services__main .accordion .accardion_active {
  width: 50%;
  height: auto;
  z-index: 10;
  -webkit-box-shadow: 0px 34px 110px rgba(20, 0, 22, 0.8);
          box-shadow: 0px 34px 110px rgba(20, 0, 22, 0.8);
}

.services .services__main .accordion .accardion_active img {
  margin: 0 auto;
}

.services .services__main .accordion #accordion-item-first.accardion_active {
  margin-right: -16%;
}

.services .services__main .accordion #accordion-item-second.accardion_active {
  margin: 0 -8%;
}

.services .services__main .accordion #accordion-item-third.accardion_active {
  margin-left: -16%;
}

.services .services__main .accordion .accordion-body {
  padding: 0;
}

.services .services__main .accordion .accordion-body ul {
  text-align: left;
  padding: 0 1rem 0;
}

.services .services__main .accordion .accordion-body ul li {
  list-style-image: url(../img/circle.svg);
  font-size: 16px;
  line-height: 145%;
}

.services .services__main .accordion .accordion-body p {
  color: #AB47BC;
  text-align: left;
  width: 100%;
  padding-left: 1rem;
}

.services .services__banner {
  background: url(../img/banner__bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 610px;
  padding: 160px 240px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media (max-width: 1024px) {
  .services .services__banner {
    padding: 100px 200px;
  }
}

@media (max-width: 768px) {
  .services .accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .accordion .accordion-item {
    margin-bottom: 20px;
  }
}

.offer {
  color: #715C73;
  text-align: center;
}

.offer .page__bigtext {
  color: #715C73;
}

.offer .page__content {
  width: 100%;
  display: none !important;
}

.offer .page__content .page__img {
  width: 50%;
}

.offer .page__content .page__img img {
  max-width: 100%;
}

.offer .page__content .page__info {
  padding-left: 65px;
  text-align: left;
}

.offer .page__content .page__info .content__text {
  list-style-image: url(../img/circle_grey.svg);
  margin-bottom: 15px;
}

.offer .page__content__active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.offer .content__text {
  color: #715C73;
}

.offer_first .page__content__before {
  padding-top: 63px;
}

.offer__purple {
  background-image: url(../img/offer__purple__bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2E0033;
  padding-top: 0;
}

.offer__purple .page__switch {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 70px;
}

.offer__purple .page__content {
  height: 100%;
}

.offer__purple .page__content__before {
  padding-top: 0px;
}

.offer__purple .content__title {
  color: #fff;
}

.offer__purple .content__text {
  color: #AC9AAE;
  list-style-image: url(../img/circle_purple.svg);
}

.offer__purple .page__content__after .page__info {
  padding-top: 70px;
}

.offer__purple .page__content__after img {
  width: 175%;
}

.offer__two {
  padding-bottom: 70px;
}

.offer__two .page__content__after {
  background: no-repeat url(../img/offertwo__bg.png);
  background-position: bottom center;
  background-size: 100%;
}

.offer__two .page__content__before {
  padding: 0;
}

.offer-two__purple {
  background-image: url(../img/offer__purple__bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2E0033;
}

.offer-two__purple .content__title {
  color: #fff;
}

.offer-two__purple .content__text {
  color: #AC9AAE;
  list-style-image: url(../img/circle_purple.svg);
}

.offer-two__purple .page__content__before {
  padding-top: 0px;
}

@media (max-width: 1024px) {
  .offer_first .page__content__before {
    padding-top: 47px;
  }
}

.opportunities .page__bigtitle {
  text-align: center;
}

.opportunities .opportunities__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 145%;
  color: #2E0033;
}

.opportunities .opportunities__title::after {
  display: block;
  content: '';
  width: 171px;
  height: 1px;
  border: 1px solid #AB47BC;
  background: #AB47BC;
  margin: 22px 0;
}

.opportunities .opportunities__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #72808A;
  margin-bottom: 24px;
}

.opportunities .page__content ul {
  padding: 0;
}

.opportunities .page__content .content__text {
  margin-bottom: 12px;
}

.opportunities .page__content .content__text img {
  margin-right: 10px;
}

.opportunities .page__content .content__text span {
  color: #AB47BC;
}

.opportunities .page__content .opportunities__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 145%;
  color: #2E0033;
}

.opportunities .page__content .opportunities__title::after {
  display: block;
  content: '';
  width: 171px;
  height: 1px;
  border: 1px solid #AB47BC;
  background: #AB47BC;
  margin: 22px 0;
}

.opportunities .page__content .opportunities__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #72808A;
  margin-bottom: 24px;
}

.opportunities .page__content:nth-child(3) {
  margin-top: -5%;
}

.opportunities .page__content:nth-child(2n) .page__info {
  margin-right: 30px;
}

.opportunities .page__content:nth-child(2n+1) .page__info {
  margin-left: 30px;
}

.suggestions .card {
  background: transparent;
  border: none;
}

.suggestions .card .card-body {
  padding: 0px;
}

.suggestions .suggestions__item {
  padding: 30px;
  background: #F5F6F8;
  border-radius: 12px;
  margin: 0 20px 20px 0;
}

.suggestions .suggestions__item .suggestions__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 145%;
  margin-bottom: 15px;
  color: #2E0033;
}

.suggestions .suggestions__item .suggestions__text {
  font-size: 14px;
  line-height: 145%;
  color: #72808A;
  margin-bottom: 8px;
}

.suggestions .first_line {
  height: 452px;
  width: calc(33.3% - 20px);
}

.suggestions .first_line:last-child {
  margin: 0 0 20px 0;
}

.suggestions .second_line {
  height: 365px;
  width: calc(41.66666667% - 20px);
}

.suggestions .second_line:last-child {
  width: calc(58.33333333% - 20px);
  margin: 0 0 20px 0;
}

.suggestions .thrid_line {
  height: 246px;
  width: calc(58.33333333% - 20px);
  margin-bottom: 0;
}

.suggestions .thrid_line:last-child {
  height: 246px;
  width: calc(41.66666667% - 20px);
}

.rates .page__bigtitle {
  text-align: center;
  margin-bottom: 30px;
}

.rates .card {
  border: 1px solid #E4E7EC;
  -webkit-box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
  border-radius: 12px;
}

.rates .card .card-body {
  padding: 30px 25px;
}

.rates .card .card-body .rates__name {
  background: #F9F5FF;
  border-radius: 16px;
  padding: 4px 12px;
  width: 60%;
  margin-bottom: 8px;
  color: #AB47BC;
}

.rates .card .card-body .rates__mark {
  margin-bottom: 8px;
}

.rates .card .card-body .rates__mark p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #667085;
}

.rates .card .card-body .rates__mark p span {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #101828;
}

.rates .card .card-body .rates__mark__bonus p::after {
  display: block;
  content: '';
  width: 80px;
  height: 4px;
  background: #FF0000;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: absolute;
  margin-top: -27px;
}

.rates .card .card-body .rates__users {
  margin-bottom: 24px;
}

.rates .card .card-body .rates__users p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #667085;
}

.rates .card .card-body .card-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #101828;
  margin-bottom: 2px;
}

.rates .card .card-body .card-text {
  font-size: 13px;
  line-height: 20px;
  color: #667085;
}

.rates .card .card-footer {
  background: transparent;
  padding: 16px 0;
  border-top: 1px solid #E4E7EC;
}

.rates .card .card-footer a {
  color: #AB47BC;
  margin: 0 auto;
  text-decoration: none;
}

.rates .col:nth-child(n+3) .rates__name {
  background: linear-gradient(92.9deg, #790E8B 0%, #AB6FB5 99.87%);
  color: #fff;
}

.rates .rates__footer .suggestions__title {
  line-height: 72px;
  text-align: center;
  margin-top: 50px;
}

.rates .rates__footer::before {
  display: block;
  content: '';
  width: 330px;
  height: 1px;
  border: 1px solid #AB47BC;
  background: #AB47BC;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.supervisor {
  padding-bottom: 70px;
}

.supervisor .supervisor__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 145%;
  color: #2E0033;
  text-align: center;
}

.supervisor .supervisor__title span {
  font-weight: 700;
  font-size: 38px;
  line-height: 145%;
  color: #AB47BC;
}

.supervisor .accordion {
  max-width: 800px;
  margin: 50px auto 0;
}

.supervisor .accordion .accordion-button {
  font-size: 22px;
  line-height: 145%;
  color: #101828;
}

.supervisor .accordion .accordion-button::after {
  background: no-repeat url(../img/acc_plus.svg);
  background-position: center;
  background-size: 100%;
}

.supervisor .accordion .accordion-button:not(.collapsed)::after {
  background: no-repeat url(../img/acc_minus.svg);
  background-position: center;
  background-size: 100%;
}

.supervisor .accordion .accordion-button:not(.collapsed) {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #101828;
}

.supervisor .accordion .accordion-item {
  border: none;
}

.supervisor .accordion .accordion-button.collapsed {
  border-bottom: 1px solid #E4E7EC;
}

.supervisor .accordion .accordion-collapse {
  border-bottom: 1px solid #E4E7EC;
}

.supervisor .accordion .accordion-item:last-child .accordion-collapse {
  border-bottom: none;
}

.supervisor .accordion .accordion-body {
  font-size: 18px;
  line-height: 145%;
  color: #72808A;
}

.application {
  padding: 100px 0;
  background: no-repeat url(../img/application__bg.png);
  background-color: #2E0033;
  background-size: cover;
  background-position: top center;
  color: #fff;
  text-align: center;
}

.application .href__feedback {
  font-weight: 500;
  font-size: 30px;
  line-height: 145%;
  color: #AB47BC;
  text-decoration: none;
  border-bottom: 2px solid #AB47BC;
}

/* animation styles */

  .animBlock {
    opacity: 0;
    transform: translate(0, 50px);
    transition: .3s all linear;
  }

  .animateBlock {
    opacity: 1 !important;
    transform: translate(0, 0);
  }

/* temporary forum styles */
html {
	scroll-behavior: smooth !important;
}

.page-content {
	position: relative
}

ul.forum li {
	font-size: 14px;
	font-weight: 600;
}

textarea#comment {
	margin-top: 10px;
	border: 1px solid rgba(0,0,0,.2);
	resize: none;
	height: 140px;
	width: calc(100% - 400px) !important;
	display: block;
}

.comment-form input[type="submit"]{
	outline: none !important;
	border:1px solid #AB47BC !important;
	color: #AB47BC !important;
	transition: .2s all linear !important;
	font-weight: 600;
}

.comment-form input[type="submit"]:hover,
.comment-form input[type="submit"]:focus{
	background-color: #AB47BC !important;
	color: #fff !important;
}


/* FAQ styles */

.forum-heading {
	font-weight: 700;
	font-size: 26px;
	margin-top: 30px;
	text-align: center !important;
}

.forum-heading ~ h3 {
	font-size: 24px;
	margin-bottom: 50px;
}

.forum-heading:after {
	content: "";
	width: 70px;
	height: 3px;
	background: #AB47BC;
	display: block;
	margin: 10px auto;
}

ol.wp-block-latest-comments {
	padding: 0 !important;
}

footer.wp-block-latest-comments__comment-meta a {
	color: #000 !important;
	font-weight: 600 !important;
}

a.tag-cloud-link {
	color: #667085 !important;
	font-weight: 600;
	padding: 5px 18px;
	background-color: #eaeaea;
	border-radius: 10px;
	margin: 5px 0px;
	display: inline-block;
	width: fit-content;
	font-size: 14px !important;
}

a.tag-cloud-link:hover {
	background-color: #F0B3FF;
	color: #fff !important;
}

.wp-block-latest-posts__featured-image img {
	height: auto;
	width: 100% !important;
	max-width: inherit !important;
	max-height: inherit !important;
}

.wp-block-latest-posts__featured-image {
	overflow: hidden;
	height: 200px;
	display: flex;
	align-items: center;
}
ul.wp-block-latest-posts__list li {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: .2s all linear;
	padding-bottom: 15px;
	border-bottom: 1px solid #f3e5f5;
	margin-bottom: 35px !important;
}

ul.wp-block-latest-posts__list li:hover > a {
	color: #000 !important;
}

.wp-block-latest-posts__post-author {
	margin-top: 10px;
	font-weight: 600 !important;
	font-size: 14px !important;
}


ul.wp-block-latest-posts__list li a {
	order: -1;
	font-size: 22px !important;
	font-weight: 600 !important;
	color: #888 !important;
	margin: 10px 0;
	display: flex;
	align-items: center;
	transition: .2s all linear;
}

time.wp-block-latest-posts__post-date {
	width: fit-content !important;
}

time.wp-block-latest-posts__post-date:after {
	content: "";
	width: 100%;
	height: 3px;
	background-color: #ab47bc;
	display: block;
	margin: 10px 0;
}

ul.wp-block-latest-posts__list li a:after {
	content: "";
	width: 10px;
	height: 10px;
	background-image: url("../images/next.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 10px;
}

.wp-block-latest-posts__post-excerpt {
	font-size: 14px;
	font-weight: 500;
}

a.ewd-ufaq-post-margin {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #c7c7c7;
	padding: 15px 0;
}

body.single-ufaq .ewd-ufaq-faq-title {
	pointer-events: none;
}

.ewd-ufaq-faq-title-text h4 {
	font-size: 20px;
	color: #000;
	font-weight: 600;
}

.ewd-ufaq-post-margin p {
	font-weight: 500 !important;
}

.ewd-ufaq-post-margin-symbol {
	order: 2;
}

.ewd-ufaq-faq-title .ewd-ufaq-post-margin-symbol span {
	font-size: 12px !important;
	color: #AB47BC;
	border: 1px solid #AB47BC;
	padding: 7px 5px 5px;
	text-align: center;
	border-radius: 50%;
	display: flex;
	width: 25px;
	height: 25px;
}

.ewd-ufaq-permalink a {
	color: #AB47BC;
}

.comment-reply-title {
	font-size: 22px;
}

.ewd-ufaq-faq-body {
	padding-left: 25px !important;
}


.comment-metadata time {
	color: #000 !important;
	font-size: 14px !important;
}

.edit-link a, .reply a {
	color: #AB47BC !important;
	font-weight: 500 !important;
	font-size: 13px !important;
}

footer.comment-meta {
	display: flex;
	align-items: center;
	margin-top: 30px;
	justify-content: start !important;
}

.comment-author.vcard {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.children .comment-author.vcard:before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../images/reply.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 15px;
	display: inline-block;
}


.tag-links {
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
}
.tag-links a {
	font-weight: 500 !important;
	color: #DD93EF !important;
	margin: 0 2px;
	font-style: italic;
}


body.post-template-default .page-content p a {
	color: #DD93EF;
}

.is-search-icon {
	background-color: #C562D6 !important;
}

.is-form-style .is-search-submit path {
	fill: #fff !important;
}

.is-ajax-search-details .is-title a, .is-ajax-search-post .is-title a, .is-ajax-search-details a, .is-ajax-search-result a {
	color: #C562D6 !important;
	font-weight: 500;
}

div#last-comments {
	width: 58% !important;
	margin: 30px auto;
	flex-grow: inherit;
	flex-basis: auto;
}


.is-ajax-result-description {
	font-weight: 500 !important;
}

.fa-thumbs-down:before, .fa-thumbs-up:before {
	color: #9b9b9b;
}
.fa-thumbs-down:hover::before, .fa-thumbs-up:hover::before {
	color: #C562D6;
}

/*post sidebar styles*/

.ultp-block-meta.ultp-block-meta-style5 .ultp-meta-body {
	display: flex;
	flex-direction: column;
}
body.single .ultp-block-meta {
	flex-direction: column;
	align-items: self-start !important;
}

.ultp-block-meta.ultp-block-meta-style5 .ultp-meta-body span {
	margin: 10px 0 !important;
	font-size: 14px !important;
	font-weight: 600;
}

.ultp-block-wrapper, body.post-template-default .wp-block-group__inner-container .wp-block-columns {
	background-color: #f2f2f2;
	padding: 35px !important;
	border-radius: 10px;
	transition: .2s all linear;

}
body.post-template-default .wp-block-group__inner-container .wp-block-columns {
	margin-top: 30px;
	height: fit-content;
	transition: .2s all linear;
}

ul#post_anchor {
	padding: 0;
}
body.post-template-default .wp-block-group__inner-container .wp-block-columns li .active {
	color: #C562D6 !important;
	font-weight: 600 !important;
}

ul#post_anchor a {
	display: block;
	margin: 15px 0 !important;
	font-size: 14px !important;
	font-weight: 600;
	color: #717171;
	transition: .2s all linear;
}

body.post-template-default .wp-block-group__inner-container .wp-block-columns li {
	list-style: none;
}


body.post-template-default .wp-block-group__inner-container .wp-block-columns li .active:before {
	content: '';
	background-color: #C562D6;
	width: 3px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 0;
}

body.post-template-default .wp-block-group__inner-container .wp-block-columns h4 {
	font-size: 18px;
	margin: 20px 0 10px 0;
	font-weight: 700;
}

.is-ajax-woocommerce-actions .add_to_cart_inline a.button {
	background-color: #d7d7d7 !important;
}

.progress-bar {
	transition: .1s all linear !important;
}

.advgb-tab-body-wrapper {
	margin-top: 30px !important;
}
.ultp-filter-wrap ul li.filter-item a {
	color: #444;
	font-weight: 500;
	transition: .2s all linear !important;
}

.ultp-filter-wrap ul li.filter-item a:hover {
	color: #fff !important;
	background-color: #C562D6 !important;
}

.ultp-block-content .ultp-block-readmore a {
	font-weight: 500 !important;
}

.logged-in-as a {
	color: #C562D6 !important;
}

.ultp-block-wrapper:not(body.single .ultp-block-wrapper) {
	background-color: transparent !important;
	padding: 0 !important;
}

.ultp-filter-wrap {
	margin: 20px 0 !important;
}

span.bsf-rt-reading-time {
	font-size: 16px;
	font-weight: 600;
	color: #bb3ad1;
}

body.single-ufaq .ewd-ufaq-post-margin-symbol {
	display: none !important;
}

div#load-more, div#load-less {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
div#load-more a, div#load-less a {
	background-color: transparent;
	color: #ab49bd;
	font-weight: 600;
}

.load-more:after {
	content: "...";
	color: blueviolet;
	position: absolute;
	margin-left: 2px;
	animation-name: load;
	animation-timing-function: cubic-bezier(0.85, 0.39, 0.28, 1);
	animation-duration: .5s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes load {
	from {
		color: blueviolet;
	}
	to {
		color: transparent;
	}
}

#wpadminbar .ab-submenu {
display: flex;
flex-direction: column-reverse;
}

body.tag .page-content {
	margin: 0 15% !important;
}

body.tag .page-content .post {
	width: 80% !important;
}
body.tag .page-content .post .wp-post-image {
	height: 180px !important;
}

body.tag .page-content .post .entry-title a {
	color: #000 !important;
}

body.tag .page-content .post p {
	color: #888 !important;
	margin: 10px 0 !important;
}
























header .header__content .socails__links .socails__addres {
  color: #ACB2C1;
  text-decoration: none;
}

header .header__content .socails__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 0;
}

header .header__content .socails__links .numbers__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  margin-bottom: 8px;
  list-style: none;
}

header .header__content .socails__links .numbers__phone .disabled__block {
  display: none;
}

header .header__content .socails__links .numbers__phone img {
  width: 100%;
  max-width: 16px;
  margin-right: 4px;
}

header .header__content .socails__links .numbers__phone a {
  color: #ACB2C1;
  text-decoration: none;
}

header .header__content .socails__links .numbers__phone-disabled .disabled__block {
  /* background: rgba(84, 19, 75, 0.56); */
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 4px;
  margin-left: 37px;
  position: absolute;
  display: block;
  padding: 0.5px 26px;
  font-weight: 300;
  font-size: 10px;
  line-height: 145%;
  cursor: pointer;
}
