.btn {
	display: inline-block;
	// height: rem( 5.6 );
	padding: rem( 1 ) rem( 1.8 );
	border-radius: rem( 1.2 );
	border: 2px solid transparent;
	transition: all 0.3s ease-out;
	@include button-1;
	text-transform: none;
	text-align: center;
	@include no-underline-link;
	cursor: pointer;

	&:disabled {
		@include disabled-button;
	}

	&-primary {
		background: $accent;
		border-color: $accent;
		color: $white;

		&:disabled {
			@include disabled-button;
		}

		&:visited {
			color: $accent;
		}
		&:hover,
		&:active,
		&:focus {
			background: $accent-variant;
			border-color: $accent-variant;
			color: $white;
		}
	}

	&-secondary {
		background: transparent;
		border-color: $accent;
		color: $accent;

		&:visited {
			color: $accent;
		}
		&:hover,
		&:active,
		&:focus {
			background: $accent-variant;
			border-color: $accent-variant;
			color: $white;
		}

		&:disabled {
			@include disabled-button;
		}
	}

	&-tertiary {
		padding: 0;
		background: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 2px solid $accent;
		font-size: rem( 3 );
		font-weight: 500;
		line-height: 1.45;
		text-decoration: none;
		color: $accent;

		/*
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 24px;
			height: 24px;
			margin: -12px 0 0;
			background: url( ../images/pf-common/btn-tertiary.svg ) no-repeat center;
			transition: all 0.3s ease-out;
		}
		*/

		&:visited {
			color: $accent;
		}
		&:hover,
		&:active,
		&:focus {
			color: $accent;
			background: transparent;
		}
	}

	&-play {
		display: block;
		width: rem( 5.6 );
		height: rem( 5.6 );
		padding: 0;
		background: $accent url( ../images/pf-common/play.svg ) no-repeat center;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			@include a-hover;
			background-color: $accent-variant;
		}
	}

	&-close {
		width: rem( 1.4 );
		height: rem( 1.4 );
		background: url( ../images/pf-common/close.svg ) no-repeat center;
		cursor: pointer;
		&:hover,
		&:focus,
		&:active {
			@include a-hover;
			background: url( ../images/pf-common/close.svg ) no-repeat center;
		}
	}
}
