.header {
	position: relative;
	z-index: 1000;
	background-color: $accent-dark;
	color: $white;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem( 1 ) 0;
	}

	&__logo {
		display: block;
		width: 140px;
		height: 70px;
		margin-right: rem( 1 );
		background: no-repeat url( ../images/components/logo_active.svg ) center/ 100%;
		filter: brightness( 10 );

		@include media-breakpoint-up( sm ) {
			width: 250px;
		}
		@include media-breakpoint-up( $bp ) {
			width: 307px;
		}

		&:hover,
		&:focus {
			filter: none;
			transition: 0.45s;
		}
	}

	&__login {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: rem( 2.8 );
		margin-right: rem( 3.5 );
		padding: 0 0 0 rem( 4.16 );
		background: url( ../images/components/user.svg ) no-repeat left center;
		background-size: auto 100%;

		font-weight: 500;
		text-decoration: none;
		color: $white;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			color: $white;
		}
	}
	&__account_block {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		padding: 0 3rem 0 0;

		.menu__submenu_settings {
			min-width: 190px!important;
			position: absolute;
			top: 100%;
			left: calc(50% - 1.625rem);
			overflow: hidden;
			width: auto;
			flex: 1 0 15.625rem;
			max-height: 0;
			margin: 0.75rem 0 0;
			padding: 0;
			background: #3d0043;
			border-radius: 0 0 0.75rem 0.75rem;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);

			.menu__item {
				padding: 0.6rem 1rem!important;
				list-style: none;

				.menu_item_content {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;

					.menu__link {
						color: #fff;
					}
					.menu__link:hover {
						color: #ab47bc;
					}
				}
				&_img {
					width: 24px;
					height: 24px;
					margin-right: 5px;
				}
			}
			.menu__item:first-child {
				.menu_item_content {
					padding-bottom: 10px;
					border-bottom: 1px solid $accent;
				}
			}
			.menu__item:last-child {
				.menu_item_content {
					padding-top: 10px;
					border-top: 1px solid $accent;
				}
			}
		}
	}

	&__account_block:hover {
		.menu__submenu_settings {
			max-height: 43.75rem;
			margin-top: 0;
			overflow: visible;
		}
	}

	&__account {
		flex: 0 0 rem( 8.5 );
		position: relative;
		overflow: hidden;
		width: rem( 8.5 );
		height: rem( 8.5 );
		margin-right: rem( 4.3 );
		border-radius: 50%;

		@include media-breakpoint-down( xs ) {
			width: rem( 3.3 );
			height: rem( 3.3 );
			margin-right: 0;
		}

		&__shadow {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9;
			width: 100%;
			height: 100%;
			background: $accent;
			opacity: 0.2;

			@include media-breakpoint-down( xs ) {
				width: auto;
			}
		}

		&__img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			overflow: hidden;
			width: rem( 6.2 );
			height: rem( 6.2 );
			border-radius: 50%;
			border: rem( 0.4 ) solid $accent;
			transform: translate( -50%, -50% );

			@include media-breakpoint-down( xs ) {
				width: rem( 3 );
				height: rem( 3 );
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__lang {
		position: relative;
		padding: rem( 1.75 ) 0;

		&__current {
			@include flex_center;
			text-decoration: none;
			color: $white;

			&:after {
				content: '';
				display: block;
				width: 12px;
				height: 8px;
				margin-left: 10px;
				background: no-repeat url( ../images/components/arrow__down.svg ) center/ 100%;
			}
		}

		&__submenu {
			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 2000;
			overflow: hidden;
			width: rem( 13 );
			max-height: 0;
			margin: 0;
			padding: 0;
			background: $accent-dark;
			border-radius: 0 0 rem( 1.2 ) rem( 1.2 );
			transition: all 0.5s ease-out;
			transform: translateX( -50% );
			list-style: none;
			text-align: left;

			&:hover {
				max-height: rem( 50 );
			}

			li {
				display: block;
				margin: 0;
				padding: rem( 1.15 ) rem( 0.8 );
				border-bottom: 1px solid $accent-variant;
				transition: all 0.3s ease-out;
				white-space: nowrap;

				&:last-child {
					border: none;
				}

				&:hover {
					background: $accent-variant;
				}

				a {
					display: flex;
					align-items: center;
					color: $white;

					&:hover,
					&:focus,
					&:active {
						color: $white;
					}
				}
			}
		}

		&__img {
			display: block;
			overflow: hidden;
			width: rem( 2.4 );
			height: rem( 2.4 );
			margin-right: rem( 0.8 );
			border-radius: rem( 2.4 );
		}

		&:hover,
		&:focus,
		&:active {
			.header__lang__current {
				color: $accent;

				&:after {
					background: no-repeat url( ../img/arrow__down__active.svg ) center/ 100%;
				}
			}

			.header__lang__submenu {
				max-height: rem( 50 );
			}
		}
	}

	&__bottom {
		padding: rem( 1 ) 0;
		background: $accent-dark;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
		}
	}
}
