
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: auto;
	background-color: $bg_color;
	color: $white_color;
	transition: .2s all linear;
	padding: 12px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem( 1 );
	}

	&__logo {
		display: block;
		width: 140px;
		height: 70px;
		margin-right: rem( 1 );
		background: no-repeat url( ../images/components/logo_active.svg ) center/ 100%;
		filter: brightness( 10 );
		position: relative;
		z-index: 2;

		@include media-breakpoint-up( sm ) {
			width: 250px;
		}
		@include media-breakpoint-up( $bp ) {
			width: 307px;
		}

		&:hover,
		&:focus {
			filter: none;
			transition: 0.45s;
		}
	}

	.btn {
		line-height: 1;
	}
	.btn-main {
		background: $btn_color;
		font-weight: 500;
	    color: $white_color;
	}
	.btn-main:hover,
	.btn-main:focus,
	.btn-main:active {
		background: $btn_color-active;
	}

	&__lang {
		list-style: none;
		display: flex;
		padding: 0;
	}
}
