.accordion {
	margin: 0;
	padding: rem( 8 ) 0 rem( 5.5 );
	z-index: 1;
	position: relative;

	&__title {
		margin: 0 0 rem( 2.5 );
		text-align: center;
	}

	&__list {
		max-width: rem( 79.4 );
		margin-left: auto;
		margin-right: auto;
	}
	&__item {
		overflow: hidden;
		margin: 0;
		border-bottom: 1px solid $border_color;

		&__title {
			position: relative;
			margin: 0;
			padding: rem( 2.5 ) rem( 5.6 ) rem( 2.5 ) 0;
			transition: all 0.3s ease-out;
			cursor: pointer;
			font-size: rem( 2.2 );
			line-height: 1.45;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: rem( 2.4 );
				height: rem( 2.4 );
				margin: rem( -1.2 ) 0 0;
				background: url( ../images/common/plus.svg ) no-repeat center;
				background-size: rem( 1.2 );
				border-radius: 50%;
				border: 2px solid $accent;
				transition: all 0.3s ease-out;
			}
		}

		&__text {
			overflow: hidden;
			max-height: 0;
			transition: all 0.5s ease-out;
			font-size: rem( 1.8 );
			line-height: 1.45;
			color: $grey_text_opport;

			&--inner {
				padding: 0 0 rem( 2.5 );
			}
		}

		&.accordion-open {
			.accordion__item__title {
				&:after {
					background-image: url( ../images/common/minus.svg );
				}
			}
			.accordion__item__text {
				max-height: 50rem;
			}
		}
	}
}
