$accardion_color: #230026;
$switch_dis: #667085;
$black_title_color: #101828;
$grey_text_color: #715c73;
$purple_color: #ac9aae;
$grey_text_opport: #72808a;
$low_rates: #f9f5ff;
$border_color: #e4e7ec;
$btn_grad: linear-gradient( 92.9deg, #790e8b 0%, #ab6fb5 99.87% );
$line_color: #f00;
$wrapper_bg: linear-gradient( 105.98deg, #410048 0%, #2e0333 100% );
$wrapper_border: #f0f;
$color_green: #37B34A;
$color_green-active: #259F38;
$input_grey: #D0D5DD;
$submit_border: #2E4EC0;
$text_contact: #666666;
$text_tooltips: #344054;
$grey_rate: #919CB1;
$pink_dark: #790E8B;
$white_textarea: #F9FAFB;
$disabl_text: #8F9AAF;
$pink_bg: #FDF1FF;

$jobs_wrapper: #FAFAFA;
$msgBg: #F2F4F7;
$scrollServItem: #45094b;

$rate_border: #EEF2F7;
$rate_bg: #F6F7F8;
$pink_land: #D422DF;
$pink_tags: #D492DF;

/* Colors */

$black: #000;
$white: #fff;
$dark-gray: #212121;
$light-gray: #f5f6f8;
$middle-gray: #6b6b6b;
$gray: #5b5b5b;
$green: #00990F;
$gray_light: #838FA2;
$green_light: #00B13A;

// used for bg-blue... and so on.
// below are theme colors. use dash to separate names with numbers - otherwise css classes will not match with GB's.
$dark: #2e0033;
$light: #f5f5f5;
$accent: #ab47bc;
$accent-variant: #530e5c;
$accent-dark: #3d0043;

$gold: #ffd000;

$semantic-warning: #faa614;
$semantic-error: #b00020;
$semantic-success: #008738;
$semantic-info: #006bb2;
$neutral-30: #4d4d4d;
$neutral-45: #737373;
$neutral-70: #b2b2b2;
$neutral-88: #e1e1e1;
$neutral-94: #f0f0f0;
$neutral-97: #f5f5f5;

$border: #b2b2b2;

$text: $dark;

/* Fonts */
$headings-font: 'Inter', serif;
$content-font: 'Inter', sans-serif;

@mixin headings-font() {
	font-family: $headings-font;
}

@mixin content-font() {
	font-family: $content-font;
}

/* Other */

/* Slick slider variables  See /src/scss/partials/components/slick.scss */
// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: './fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: $black !default;
$slick-dot-color: $black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '←' !default; //"\2190" !default;
$slick-next-character: '→' !default; //"\2192" !default;
$slick-dot-character: '*' !default;
$slick-dot-size: 20px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

// Max content width for blog single posts
$content: rem( 85 );
$content-wide: rem( 106 );

// header
$header-height: rem( 9.6 );
$announcement-bar-height: rem( 3.2 );
