$font_stack: 'Inter', sans-serif;
$bg_color: #3D0043;
$white_color: #fff;
$color_active: #AB47BC;
$bg_active_header: #530E5C;
$page_color: #2E0033;

$accardion_color: #230026;
$switch_dis: #667085;


$accarion_padding: 46px 48px;


$black_title_color: #101828;
$grey_text_color: #715C73;
$purple_color: #AC9AAE;

$grey_text_opport: #72808A;

$low_rates: #F9F5FF;

$border_color: #E4E7EC;


$btn_grad:  linear-gradient(92.9deg, #790E8B 0%, #AB6FB5 99.87%);

$line_color: #FF0000;

$wrapper_bg: linear-gradient(105.98deg, #410048 0%, #2E0333 100%);
// $wrapper_border: linear-gradient(90deg, #FF00FF 0%, #9B00AE 18.67%, #FF00FF 50.78%, #9B00AE 79.96%, #FF00FF 100%);

$wrapper_border: #FF00FF;

/* Colors */

$black: #000;
$white: #fff;
$dark-gray: #212121;
$light-gray: #f0f0f0;
$middle-gray: #6b6b6b;
$gray: #5b5b5b;
$controls-highlight: #f0d;

// used for bg-blue... and so on.
// below are theme colors. use dash to separate names with numbers - otherwise css classes will not match with GB's.
$dark: #2E0033;
$light: #f5f5f5;
$accent: #AB47BC;
$accent-variant: #530E5C;

$gold: #ffd000;

$semantic-warning: #faa614;
$semantic-error: #b00020;
$semantic-success: #008738;
$semantic-info: #006bb2;
$neutral-30: #4d4d4d;
$neutral-45: #737373;
$neutral-70: #b2b2b2;
$neutral-88: #e1e1e1;
$neutral-94: #f0f0f0;
$neutral-97: #f5f5f5;

$border: #b2b2b2;

$text: $dark;

// used for bg-blue... and so on.
$local-colors: (
	accent-variant: $accent-variant,
	accent: $accent,
	gold: $gold,
	semantic-warning: $semantic-warning,
	semantic-error: $semantic-error,
	semantic-success: $semantic-success,
	semantic-info: $semantic-info,
	white: $white,
	light: $light,
	black: $black,
	dark: $dark,
	dark-gray: $dark-gray,
	light-gray: $light-gray,
	middle-gray: $middle-gray,
	gray: $gray,
) !default;

/* Fonts */
$headings-font: 'Inter', serif;
$content-font: 'Inter', sans-serif;

@mixin headings-font() {
	font-family: $headings-font;
}

@mixin content-font() {
	font-family: $content-font;
}
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-thin: 300;

$local-font-rules: (
	h-1: (
		font-family: $headings-font,
		font-weight: 500,
		desktop: (
			font-size: rem( 5.6 ),
			line-height: 1.3,
			letter-spacing: 0,
			margin-bottom: rem( 3.2 ),
		),
		mobile: (
			font-size: rem( 3.4 ),
			line-height: 1.1,
			letter-spacing: 0,
			margin-bottom: rem( 1.6 ),
		),
	),
	h-2: (
		font-family: $headings-font,
		font-weight: 500,
		desktop: (
			font-size: rem( 3.5 ),
			line-height: 1.4,
			letter-spacing: 0,
			margin-bottom: rem( 2 ),
		),
		mobile: (
			font-size: rem( 2.4 ),
			line-height: 1.1,
			letter-spacing: 0,
			margin-bottom: rem( 1.6 ),
		),
	),
	h-3: (
		font-family: $headings-font,
		font-weight: $font-weight-semibold,
		desktop: (
			font-size: rem( 2.6 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 1.6 ),
		),
		mobile: (
			font-size: rem( 1.8 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 0.8 ),
		),
	),
	h-4: (
		font-family: $headings-font,
		font-weight: $font-weight-semibold,
		desktop: (
			font-size: rem( 2 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 1.6 ),
		),
		mobile: (
			font-size: rem( 1.6 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 0.8 ),
		),
	),
	h-5: (
		font-family: $headings-font,
		font-weight: $font-weight-semibold,
		desktop: (
			font-size: rem( 1.6 ),
			line-height: 1.5,
			letter-spacing: 0,
			margin-bottom: rem( 0.8 ),
		),
		mobile: (
			font-size: rem( 1.4 ),
			line-height: 1.5,
			letter-spacing: 0,
			margin-bottom: rem( 0.8 ),
		),
	),
	h-6: (
		font-family: $headings-font,
		font-weight: 500,
		desktop: (
			font-size: rem( 1.4 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 0.8 ),
		),
		mobile: (
			font-size: rem( 1.2 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 0.8 ),
		),
	),
	body: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		desktop: (
			font-size: rem( 1.8 ),
			line-height: 1.5,
			letter-spacing: 0,
			margin-bottom: rem( 3.2 ),
		),
		mobile: (
			font-size: rem( 1.6 ),
			line-height: 1.5,
			letter-spacing: 0,
			margin-bottom: rem( 1.6 ),
		),
	),
	body-2: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		desktop: (
			font-size: rem( 1.6 ),
			line-height: 1.5,
			letter-spacing: 0,
			margin-bottom: rem( 2.4 ),
		),
		mobile: (
			font-size: rem( 1.4 ),
			line-height: 1.5,
			letter-spacing: 0,
			margin-bottom: rem( 1.6 ),
		),
	),
	list: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		desktop: (
			font-size: rem( 2 ),
			line-height: rem( 3.2 ),
			letter-spacing: 0,
		),
		mobile: (
			font-size: rem( 1.6 ),
			line-height: rem( 2.4 ),
			letter-spacing: 0,
		),
	),
	lead: (
		font-family: $content-font,
		font-weight: 300,
		desktop: (
			font-size: rem( 2.6 ),
			line-height: 1.45,
			letter-spacing: 0,
			margin-bottom: rem( 3.2 ),
		),
		mobile: (
			font-size: rem( 2 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 2.4 ),
		),
	),
	quote: (
		font-family: $content-font,
		font-weight: 500,
		font-style: italic,
		desktop: (
			font-size: rem( 2.8 ),
			line-height: 1.4,
			letter-spacing: 0,
			margin-bottom: rem( 3.2 ),
		),
		mobile: (
			font-size: rem( 2 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: rem( 2.4 ),
		),
	),
	subtitle-1: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		mobile: (
			font-size: rem( 1.6 ),
			line-height: 1.5,
			letter-spacing: 0,
			margin-bottom: 0,
		),
	),
	subtitle-2: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		mobile: (
			font-size: rem( 1.4 ),
			line-height: 1.2,
			letter-spacing: 0,
			margin-bottom: 0,
		),
	),
	button-1: (
		font-family: $content-font,
		font-weight: 400,
		mobile: (
			font-size: rem( 1.8 ),
			line-height: rem( 2.8 ),
			letter-spacing: 0,
			margin-bottom: 0,
		),
	),
	button-2: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		mobile: (
			font-size: rem( 1.4 ),
			line-height: rem( 1.6 ),
			letter-spacing: 0,
			margin-bottom: 0,
		),
	),
	caption: (
		font-family: $content-font,
		font-weight: $font-weight-regular,
		mobile: (
			font-size: rem( 1.2 ),
			line-height: rem( 1.6 ),
			letter-spacing: 0,
			margin-bottom: 0,
		),
	),
	overline: (
		font-family: $content-font,
		font-weight: $font-weight-bold,
		mobile: (
			font-size: rem( 1.2 ),
			line-height: rem( 1.6 ),
			letter-spacing: 1.2px,
			margin-bottom: rem( 0.8 ),
		),
	),
);

$local-font-sizes: (
	h-1: rem( 6 ),
	h-2: rem( 4.2 ),
	h-3: rem( 2.6 ),
	body: rem( 2 ),
	body-2: rem( 1.6 ),
	caption: rem( 1.4 ),
	lead: rem( 2.8 ),
	preheading: rem( 1.2 ),
);

/* Other */

/* Slick slider variables  See /src/scss/partials/components/slick.scss */
// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: './fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: $black !default;
$slick-dot-color: $black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '←' !default; //"\2190" !default;
$slick-next-character: '→' !default; //"\2192" !default;
$slick-dot-character: '*' !default;
$slick-dot-size: 20px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

// Max content width for blog single posts
$content: rem( 85 );
$content-wide: rem( 106 );

// header
$header-height: rem( 9.6 );
$announcement-bar-height: rem( 3.2 );
