footer {
  background-color: $bg_color;
  color: $white_color;
  font-weight: 500;

  .footer_logo {
    background: no-repeat url(../img/logo__footer__active.svg) center/100%;
    width: 283px;
    height: 140px;
    filter: brightness(10);
  }
  .footer_logo:hover,
  .footer_logo:focus {
    filter: none;
  }
  h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .nav-link {
    margin-bottom: 12px;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: $color_active !important;
  }
  .footer__docs {
    text-decoration: none;
  }
  .footer__docs:hover {
    color: $color_active !important;
  }
  .submenu {
    display: none;
    background: $bg_color;
    border-radius: 0px 0px 12px 12px;
    padding: 20px !important;
    position: absolute;
    margin-top: -160px;
    margin-left: -20px;
    transition: 5s;
    list-style: none;
    text-align: left;

    li {

        ul {
          padding: 0;
          list-style: none;
        }
        a {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: $white_color;
          text-decoration: none;
          border-bottom: 1px solid transparent;
        }
      }
    li {
      padding: 5px 0;
      color: $white_color;
    }
    li:hover {
      .submenu__item {
        color: $color_active;
      }
    }
    .submenu_dis {
      opacity: 0.5;
      color: $white_color !important;
    }
    .submenu_dis:hover {
      background-color: transparent;
    }
    .submenu_dis::after {
      display: block;
      content: "";
      position: relative;
      width: 12px;
      height: 16px;
      background: no-repeat url(../img/lock.svg) center/ 100%;
      margin: -12% 0 0 auto;
    }
  }
  .dropdown__lang {
    .dropdown__lang__item {
      @include flex_center;
    }
    .dropdown__lang__item::after {
      display: block;
      content: '';
      background: no-repeat url(../img/arrow__down.svg) center/ 100%;
      width: 12px;
      height: 8px;
      border: none;
      margin-left: 10px;
    }
  }
  .dropdown__lang:active,
  .dropdown__lang:hover,
  .dropdown__lang:focus {
    .dropdown__lang__item {
      color: $color_active;
    }
    .dropdown__lang__item::after {
      background: no-repeat url(../img/arrow__down__active.svg) center/ 100%;
    }
    .submenu {
      display: block;
    }
  }
  .footer__item {
    display: flex;
    align-items: center;
  }
  .list-docs {
    @include flex_center;
    margin: 50px 0;

    li {
      text-align: center;
    }
  }
  .footer__bottom {
    @include flex_center;

  }
}


