

@media (max-width: 1024px) {

  // Components
      .desk {
        display: none !important;
      }
}

@media (max-width: 992px) {
    h2 {
        font-size: 36px;
        line-height: 120%;
    }
}

@media (max-width: 576px) {

    h4 {
        font-size: 29px;
        line-height: 120%;
    }
    .page__text {
        font-size: 20px;
    }
    .page__doptext {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
        padding: 10px 14px;
    }
    h2 {
        font-size: 36px;
        line-height: 120%;
    }
}




@media (max-width: 992px) {

  // Footer
    .footer_logo {
      margin-bottom: 40px !important;
    }
    .col-lg-2 {
      margin-bottom: 40px;
    }
    .footer__bottom {
      flex-direction: column;
      align-items: center;
      border: none !important;

      .list-unstyled {
        margin-bottom: 30px;
        flex-wrap: wrap;


      }
      .footer__ltd {
        border-bottom: 0.5px solid $white_color;
        padding-bottom: 13px;
        margin: 16px 0;
      }
      .list-unstyled {
        margin: 0 20px 0;
      }
      .list-links {
        li {
          width: calc(25% - 1rem);
          margin: 0 auto 20px;
          text-align: center;
        }
     }
     
   }
   .list-docs {
    flex-wrap: wrap;
    
      li {
        width: calc(50% - 2rem);
        margin-bottom: 20px;
      }
    }
} 

 @media (max-width: 576px) {
   footer {
       .footer__bottom {
          border: none !important;

          .list-links {
              li {
                width: calc(50% - 1rem);
                margin: 0 auto 20px;
                text-align: center;
              }
           }
       }
       .list-docs {
        flex-wrap: wrap;
        margin: 30px 0;
        
          li {
            width: calc(50% - 2rem);
            margin-bottom: 20px;
          }
        }
    } 
   }
  




@media (max-width: 1024px) {

    // Header
    header {
      .dropdown__entrance {
        margin-left: auto;
      }
      .header__content {
        .header_logo {
          width: 242px;
          height: 54px;
          margin-right: 40px;
        }
      }
      .dropdown_burger {
        .burger{
          position: relative;
          width: 35px;
          height: 35px;
          cursor: pointer;
          display: block;
          z-index: 10;
        }
        .burger span, .burger span:before, .burger span:after{
          width: 100%;
          position: absolute;
          height: 4px;
          background: $white_color;
          display: block;
          transition: .3s;
          border-radius: 5px;
        }
        .burger span:before{
          content: "";
          top: -10px;
          transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .burger span{
          top: 15px;
        }
        .burger span:after{
          content: "";
          bottom: -10px;
          transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .burger span.active:before{
          content: "";
          top: 0px;
          transform: rotate(45deg);
          transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .burger span.active:after{
          content: "";
          bottom: 0;
          transform: rotate(-45deg);
          transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .burger span.active{
          background: rgba(255, 255, 255, 0);
        }
      }
    
  
      
      .menu__mob {
        width: 100%;
        height: 100vh;
        height: auto;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        right: -100%;
        transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        display: flex;
        flex-direction: column;
        z-index: 1;
        background: rgba(61, 0, 67, 0.8);
        backdrop-filter: blur(34px);
  
        .menu__header {
          margin-bottom: 30px;
        }
        .menu__body {
          ul {
            padding-left: 0;
            li {
              list-style: none;
              
              .dropdown-menu.show {
                background: transparent;
                position: relative;
              }
            }
          }
        }
  
        .menu__mob a {
          margin: 0 0 30px;
          font-size: 50px;
          line-height: 60px;
        }
        .menu__mob a:active,
        .menu__mob a:focus {
          color: #29C9F8;
        }
      }
      .menu__mob .header__nav__services {
        margin-bottom: 11px;
      }
      .menu__mob ul {
        margin-left: 25px;
      }
      .menu__mob.animate{
        right: 0;
        top: 0;
      }
    }
  }

@media (max-width: 576px) {
  header {
    .header__user {
      display: none;
    }
    .dropdown__lang {
      display: none;
    }
  } 
} 
  
  



@media (max-width: 576px) {

  //   Main 
    .main {
        .main__info {
            .main__title {
                h1 {
                    font-size: 40px;
                    line-height: 120%;
                }
                span {
                    font-size: 40px;
                    line-height: 120%; 
                }
            }
            .main__text {
                font-size: 18px;
            }
        }
    }
}



@media (max-width: 1024px) {

  // Offer
    .offer_first {
        .page__content__before {
            padding-top: 47px;
        }
    }
    
}

@media (max-width: 992px) {
    .offer {
        .page__content {
            flex-direction: column;
            padding-top: 70px;

            .page__info {
                order: -1;
                padding: 0;
            }
            .page__img {
                width: 100%;
            }
        }
    }
    .offer__purple {
        padding-top: 70px;
        .page__switch {
            position: relative;
            margin: 0;
        }
    }
}

@media (max-width: 576px) {
  .offer__two {
    .page__content__after {
      background: none;
    }
  }
  
}






@media (max-width: 992px) {

  // Vozmojnosti
    .opportunities {
        .page__content {
            flex-direction: column;
            padding-top: 70px;

            .page__info {
                order: -1;
                margin: 0 !important;
            }
        }
    }
}





@media (max-width: 992px) {

  // Services
    .services {
        .accordion {
            flex-wrap: wrap;

            .accordion-item {
              margin: 0 0 20px;
              height: 100%;
            }
            .accordion-item:nth-child(2) {
                margin: 0 20px 20px 0px;
                width: calc(50% - 10px);
            }
            .accordion-item:last-child {
                margin: 0 0 20px;
                width: calc(50% - 10px);
            }
        }
        .services__banner {
          width: 90%;

            .page__title {
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 576px) {
    .services {
        .services__top {
            padding: 60px 0 0;
        }
        .accordion {
            .accordion-item {
                width: 100% !important;
            }
        }
        .services__banner {

            .services__banner__wrapper {
                padding: 40px;
            }

            .page__title {
                font-size: 24px;
                line-height: 120%;
            }

            .btn {
                margin-top: 40px;
            }
        }
    }
}




@media (max-width: 992px) {

  // suggestions
    .suggestions {
        .row {
          padding-right: var(--bs-gutter-x,.75rem);
          padding-left: var(--bs-gutter-x,.75rem);

            .suggestions__item {
                height: auto;
            }
            .first_line,
            .second_line,
            .thrid_line {
                width: calc(50% - 10px);
                margin-bottom: 20px;
            }
            .first_line:last-child {
              width: 100%;
            }
            .first_line:nth-child(2),
            .second_line:last-child,
            .thrid_line:last-child {
                width: calc(50% - 10px);
                margin: 0 0 20px;
            }
        }
    
    }
}

@media (max-width: 576px) {
    .suggestions {
        .first_line,
        .second_line,
        .thrid_line {
            width: 100% !important;
            margin: 0 auto 20px;
        }
    }
} 

