.offer {
    color: $grey_text_color;
    text-align: center;

    h2 {
        color: $black_title_color;
    }

    .page__bigtext {
        color: $grey_text_color;
    }

    .page__content {
        width: 100%;
        display: none !important;
        
        .page__img {
            width: 50%;
            img {
                max-width: 100%;
                width: auto;
            }
        }
        .page__info {
            padding-left: 65px;
            text-align: left;

            h5 {
                margin-bottom: 30px;
                color: $page_color;
            }

            ul {
                padding-left: 1rem;

                .content__text {
                    list-style-image: url(../img/circle_grey.svg);
                    margin-bottom: 15px;
                }
            }

        }
    }
    .page__content__active {
        display: flex !important;
        justify-content: space-between;

        .page__info {
            padding-top: 115px;
        }
    }
    .content__text {
        color: $grey_text_color;
    }
}


.offer__purple {
    background-image: url(../img/offer__purple__bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $page_color;
    padding-top: 0;
    height: 650px;
    
    .page__switch {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 70px;
    }
    .page__content {
        height: 100%;
        margin-top: auto;
    }
    .page__content__before {
        padding-top: 0px;
    }
    h5 {
        color: $white_color !important;
    }
    .content__text {
        color: $purple_color;
        list-style-image: url(../img/circle_purple.svg);
    }
    .page__content__after {
        img {
            width: 175%;
        }
    }
    .page__content__active {
        .page__info {
            padding-top: 160px;
        }
        .page__img {
            margin-top: auto;
        }
    }
}

.offer__two {
    padding-bottom: 70px;
    .page__content__after  {
        background: no-repeat url(../img/offertwo__bg.png);
        background-position: bottom center;
        background-size: 100%;
    }
    .page__content__before {
        padding: 0;
    }
}

.offer-two__purple {
    background-image: url(../img/offer__purple__bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $page_color;

    h5 {
        color: $white_color !important;
    }
    .content__text {
        color: $purple_color;
        list-style-image: url(../img/circle_purple.svg);
    }
    .page__content__before {
        padding-top: 0px;
    }
}