.services {
    background-color: $dark;
    color: $white;
    text-align: center;
    padding: 0;

    .services__top {
        padding: 100px 0;
        background: no-repeat url(../img/services__bg.png);
        background-color: $dark;
        background-size: cover;
        background-position: top center;
    }
    .services__main {
        padding: 100px 0 0;
        margin-bottom: 30px;

        .services__info {
            margin-bottom: 60px;
        }

        .accordion {
            margin-bottom: 25px;

            display: flex;

            .accordion-item {
                background: $accardion_color;
                margin-right: 16px;
                border-radius: 12px;
                padding: $accarion_padding;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                height: auto;

                .accordion-header {

                    .accordion-button {
                        background: $accardion_color;
                        color: $white;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        
                        img {
                            margin-right: auto;
                        }
                        .accordion__title {
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 30px;
                            text-align: left;
                            margin: 24px 0 16px;
                            width: 100%;
                        }
                        .accordion__text {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: left;
                            display: none;
                            width: 100%;
                        }
                      }
                    .accordion-button::after {
                        display: none;
                    }
                    span {
                        color: red;
                    }
                }
            }
            .collapsed .accordion__text {
                display: block !important;
            }
             .accordion-item:last-child {
                margin-right: 0;
            }
            .accardion_active {
                width: 50%;
                height: auto;
                z-index: 10;
                box-shadow: 0px 34px 110px rgba(20, 0, 22, 0.8);

                img {
                    margin: 0 auto;
                }
            }
            
            #accordion-item-1.accardion_active {
                margin-right: -16%;
            }
            #accordion-item-2.accardion_active {
                margin: 0 -8%;
            }
            #accordion-item-3.accardion_active {
                margin-left: -16%;
            }

            .accordion-body {
                padding: 0;
          
                ul {
                    text-align: left;
                    padding: 0 1rem 0;

                    li {
                        list-style-image: url(../img/circle.svg);
                        font-size: 16px;
                        line-height: 145%;
                    }
                }
                p {
                    color: $accent;
                    text-align: left;
                    width: 100%;
                    padding-left: 1rem;
                }
            }

        }
    }

    .services__banner {
        width: 100%;
        max-width: 1140px;
        margin: 100px auto 0;
        padding: 0 20px 70px;

        .services__banner__wrapper {
            width: auto;
            margin: 0 auto;
            padding: 50px 75px;   
            border: 2px solid $wrapper_border;
            // border-image-source: $wrapper_border;
            // border-image-slice: 1;
            background: $wrapper_bg;
            box-shadow: -10px -10px 20px #4A0B52, -20px -20px 50px 20px #430A49, 10px 10px 20px #1E0022, 20px 20px 50px 20px #1E0022;
            border-radius: 41px;
        }

        .btn {
            margin-top: 40px;
        }
    }

}


@media (max-width: 1300px) {
  .services {
    .services__banner {
      width: 90%;
      max-width: 100%;
    }
  }
}




@media (max-width: 992px) {

  // Services
    .services {
      .services__top {
        background-size: 200%;
      }
        .accordion {
            flex-wrap: wrap;

            .accordion-item {
              margin: 0 0 20px;
              height: 100%;
            }
            .accordion-item:nth-child(2) {
                margin: 0 20px 20px 0px;
                width: calc(50% - 10px);
            }
            .accordion-item:last-child {
                margin: 0 0 20px;
                width: calc(50% - 10px);
            }
        }
        .services__banner {
          width: 90%;

            .page__title {
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 576px) {
    .services {
        .services__top {
            padding: 60px 0 0;
            background-size: 300%;
        }
        .accordion {
            .accordion-item {
                width: 100% !important;
                margin: 0 0 20px !important;
            }
        }
        .services__banner {

            .services__banner__wrapper {
                padding: 40px;
            }

            .page__title {
                font-size: 24px;
                line-height: 120%;
            }

            .btn {
                margin-top: 40px;
            }
        }
    }
}

