.services {
    background-color: $dark;
    color: $white;
    text-align: center;
    padding: 0;

    .services__top {
        padding: 100px 0;
        background: no-repeat url(../img/services__bg.png);
        background-color: $dark;
        background-size: cover;
        background-position: top center;
    }
    .services__main {
        position: relative;
        z-index: 10;
        padding: 100px 0 0;
        margin-bottom: 30px;

        .services__info {
            margin-bottom: 60px;

            @include media-breakpoint-down( md ) {
                margin-bottom: 0px;
            }
        }

        .accordion {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            margin-bottom: 25px;

            .accordion-item {
                display: flex;
                flex-direction: column;
                width: calc(33% - 10px);  
                height: auto;
                margin-right: 10px;
                padding: 48px 0;
                background: $accardion_color;
                border-radius: 12px;
                cursor: pointer;
                transform: scale(1);
                transform-origin: top;
                transition: .2s all linear; 

                @include media-breakpoint-up( $bp ) {
                    min-height: 410px;
                }

                @include media-breakpoint-down( md ) {
                    width: calc(50% - 5px);
                    margin: 0 auto;
                    padding: 20px 0;
                    transform: none !important;
                }

                @include media-breakpoint-down( sm ) {
                  width: 100%;
                }

                .accordion-header {
                    padding: 0 48px;

                    @include media-breakpoint-down( $bp ) {
                        padding: 0 20px;
                    }

                    .accordion-info {

                        img {
                            margin: 0 auto;
                            width: 100%;
                            height: 64px;
                        }
                        .accordion__title {
                            margin: 24px 0 16px;
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 30px;
                            text-align: left;
                        }
                        .accordion__text {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: left;
                        }
                    }
                }
            }
            .accordion-item:hover {
                @include media-breakpoint-up( $bp ) {
                    width: calc(33% + 10% - 10px);
                    transform: scale(1.05);
                    z-index: 10;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                    margin: 0 -5%;
                }
                @include media-breakpoint-down( md ) {
                    width: calc(50% - 5px);
                }
            }
            .accordion-item:hover .accordion-collapse {
                @include media-breakpoint-up( $bp ) {
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .accordion-item:hover .accordion-header .accordion-info .accordion__text {
                @include media-breakpoint-up( $bp ) {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                }
            }
            .accordion-item:first-child,
            .accordion-item:first-child:hover {
                @include media-breakpoint-down( md ) {
                    width: 100%;
                    margin: 0 auto 10px;
                }
            }
            .collapsed .accordion__text {
                display: block !important;
            }
            .accordion-item:last-child {
                margin-right: 0;
            }
            .accordion-item:last-child {
                margin-right: 0;
            }
            .accordion-item:hover:last-child {
                @include media-breakpoint-up( $bp ) {
                    margin: 0 -5%;
                }
            }
            .accordion-collapse {
                display: block;
                height: 0;
                opacity: 0;

                @include media-breakpoint-down( md ) {
                    position: relative;
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .accordion-item:hover .accordion-collapse {
                opacity: 1;
                visibility: visible;
                position: relative;
            }
            .accordion-item:hover .accordion-body {
                padding: 10px 48px 48px;
                display: block;

                @include media-breakpoint-down( lg ) {
                    padding: 10px 20px;
                }
            }
           

            .accordion-body {
                display: none;
                padding: 0;
                background: $accardion_color;
                transition: .2s all linear;
                border-radius: 0 0 12px 12px;

                @include media-breakpoint-down( md ) {
                    padding: 10px 20px;
                    display: block;
                }
                
          
                ul {
                    text-align: left;
                    padding: 0 1rem 0;

                    li {
                        list-style-image: url(../img/circle.svg);
                        font-size: 16px;
                        line-height: 145%;
                    }
                }
                p {
                    color: $accent;
                    text-align: left;
                    width: 100%;
                    padding-left: 1rem;
                }
                span {
                    font-size: 18px;
                    line-height: 145%;
                }
            }

        }
    }

    .services__banner {
        width: 100%;
        max-width: 800px;
        margin: 100px auto 0;
        padding: 0 20px 70px;
        @include media-breakpoint-down( $bp ) {
			max-width: 90%;
		}

        .services__banner__wrapper {
            width: auto;
            margin: 0 auto;
            padding: 50px;   
            border: 2px solid $wrapper_border;
            // border-image-source: $wrapper_border;
            // border-image-slice: 1;
            background: $wrapper_bg;
            box-shadow: -10px -10px 20px #4A0B52, -20px -20px 50px 20px #430A49, 10px 10px 20px #1E0022, 20px 20px 50px 20px #1E0022;
            border-radius: 41px;

            @include media-breakpoint-down( $bp ) {
                padding: 40px;
            }


            .wpcf7-list-item label {
                display: flex;
                align-items: center;
            }
            .page__doptext {
                margin-bottom: 50px;
            }
            .form_demonstration {
                .wpcf7-form {
                    .wpcf7-list-item-label {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;

                        @include media-breakpoint-down( sm ) {
                            text-align: left;
                        }

                        a {
                            color: $accent;
                        }
                    }
                    .your-name .wpcf7-form-control,
                    .your-email .wpcf7-form-control,
                    .your-tel .wpcf7-form-control {
                        width: 100%;
                        padding: 10px 20px;
                        background: $white;
                        border: 1px solid $accent;
                        border-radius: 12px;
                    }
                    .wpcf7-submit {
                        padding: 10px 20px;
                        background: $accent;
                        border-radius: 12px;
                        color: $white;
                    }
                    input[type="checkbox"] {
                        margin-right: 10px;
                        background-color: transparent;
                        border: 1px solid $white;
                    }
                }
            }
        }

        .btn {
            margin-top: 40px;
        }
    }

}


@media (max-width: 1300px) {
  .services {
    .services__banner {
      width: 90%;
      max-width: 100%;
    }
  }
}




@media (max-width: 992px) {

  // Services
    .services {
      .services__top {
        background-size: 200%;
      }
        .accordion {
            flex-wrap: wrap;

            .accordion-item {
              margin: 0 0 20px;
              height: 100%;
            }
            .accordion-item:nth-child(2) {
                margin: 0 20px 20px 0px;
                width: calc(50% - 10px);
            }
            .accordion-item:last-child {
                margin: 0 0 20px;
                width: calc(50% - 10px);
            }
        }
        .services__banner {
          width: 90%;

            .page__title {
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 576px) {
    .services {
        .services__top {
            padding: 60px 0 0;
            background-size: 300%;
        }
        .accordion {
            .accordion-item {
                width: 100% !important;
                margin: 0 0 20px !important;
            }
        }
        .services__banner {

            .services__banner__wrapper {
                padding: 40px;
            }

            .page__title {
                font-size: 24px;
                line-height: 120%;
            }

            .btn {
                margin-top: 40px;
            }
        }
    }
}



.wpcf7-spinner {
    display: none !important;
}