.supervisor {
    padding-bottom: 70px;

    .supervisor__select {
        @include flex_center;
    }
    h3 {
        color: $page_color;
        text-align: center;
        margin-bottom: 20px;
        

        span {
            font-weight: 700;
            font-size: 38px;
            line-height: 145%;
            color: $color_active;
        }
    }
    .accordion {
        max-width: 800px;
        margin: 50px auto 0;
        
        .accordion-button {
            font-size: 22px;
            line-height: 145%;
            color: $black_title_color;
        }
        .accordion-button::after {
            background: no-repeat url(../img/acc_plus.svg);
            background-position: center;
            background-size: 100%;
        }
        .accordion-button:not(.collapsed)::after {
            background: no-repeat url(../img/acc_minus.svg);
            background-position: center;
            background-size: 100%;
        }
        .accordion-button:not(.collapsed) {
            background: transparent;
            box-shadow: none;
            color: $black_title_color;
        }
        .accordion-item {
            border: none;
        }
        .accordion-button.collapsed {
            border-bottom: 1px solid $border_color;
        } 
        .accordion-collapse {
            border-bottom: 1px solid $border_color;
        }
        .accordion-item:last-child {
            .accordion-collapse {
                border-bottom: none;
            }
        }

        .accordion-body {
            font-size: 18px;
            line-height: 145%;
            color: $grey_text_opport;
        }
    }
}


// Rates

